<!DOCTYPE HTML>
<html>
<head>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/freewall.js') }}"></script>
  <style type="text/css">
    #freewall {
      width: 90%;
      margin-top: 20px;
      margin: 20px auto 20px;
    }
    .cell {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div id="freewall">
{% for image in images %}
    <div class="cell" data-name="{{ image.name }}" style="width:{{ image.width }}px; height:{{ image.height }}px; background-position: center; background-repeat: no-repeat; background-image:url({{ image.src }});">
    </div>
{% endfor %}
  </div>
  <script>
    $(function() {
      var wall = new freewall("#freewall");
      wall.reset({
        selector: '.cell',
        animate: true,
        fixSize: 1,
        onResize: function() {
          wall.fitWidth();
        }
      });
      wall.fitWidth();
      $('.cell').on('click', function() {
        window.location.href = '?q=' + this.dataset.name;
      })
    });
  </script>
</body>
</html>
